body {
  background-color: lightgoldenrodyellow;
}

.Torin {
  font-family: "Courier New", Courier, monospace;
  margin: 15px 0px 0px 50px;
}

p,
a,
h1,
h2,
h3,
h4,
h5 {
  font-family: monospace;
}

.navbar {
  list-style-type: none;
  width: 350px;
  margin: 0px 0px 0px -39px;
  font-family: monospace;
}

.navbar a {
  display: block;
  text-decoration: none;
  padding: 0.5vw;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.navbar li {
  list-style-type: none;
  margin: 0 2vw;
  font-size: 3vh;
}

.navbar a:hover {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.active {
  background-color: white;
}

.navbar a:visited {
  color: black;
}

#blob {
  width: 600px;
  height: 350px;
  position: fixed;
  left: 30%;
  top: 0%;
  font-size: 19px;
}

#blob p {
  text-align: left;
  padding: 5px;
}

#blob h2 {
  text-align: left;
  padding: 0px 0px 0px 5px;
}

#blob img {
  border-style: solid;
  border-radius: 50%;
  float: right;
  margin: 5px;
}

#blob a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 3px;
  background-color: white;
  transition: background 0.1s, box-shadow 0.3s, color 0.1s;
}

#blob a:hover {
  background-color: white;
  box-shadow: 2.5px 2.5px;
  padding: 3px;
}

#blob h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
